---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/logo-black.png';
import logo2 from '~/assets/images/logo-white.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2">
  <Image src={logo} width={64} height={32} alt="Desire Wave Logo" quality="high" class="" />
</span>
